.card.card-break {
    border-color: #1B1F24;
    border-radius: 8px;
    border-width: 2px;

    box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.8);
    background-color: #212529;
    color: #fff;
}
.card.card-break:hover {
    border-color: #4d5053;
}
.card-break.selected {
    border-color: #4d5053;
    background-color: #373A3E;
}
.card-break .break-icon {
    padding: 20px;
    margin: 0 auto;
}
.card-break .break-icon img {
    width: 100%;
}