.background-container {
    background-image: url("../images/background.jpg");
    background-size: cover;
}
.card.card-custom,
.card.card-qrcode,
.card.card-countdown {
    border-color: #1B1F24;
    border-radius: 8px;
    border-width: 2px;

    box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.8);
    background-color: #212529;
    color: #fff;
}
.card.card.card-countdown .cowntdown {
    font-size: 50px;
}